@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Boldonse";
  src: url("../public/fonts/Boldonse-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mullish";
  src: url("../public/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}

/* Design System – Dark Theme */
:root {
  /* Typography */
  --font-body: "Mullish", sans-serif;
  --font-heading: "Boldonse", sans-serif;

  --color-fg: #f5f5f5; /* text */
  --color-fg-muted: #b5b5c0; /* secondary text */

  /* Borders & Shadows */
  --color-border: #2d2d31;
  --shadow-soft: 0px 8px 20px rgba(0, 0, 0, 0.35);

  /* Gradients */
  --gradient-primary: linear-gradient(135deg, #4d88ff, #9f6bff);
  --gradient-glow: radial-gradient(circle at 50% 0%, #4d88ff33, transparent);
}

/* Global Style */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-body);
  line-height: 1.6;
}

/* Typography */
h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  color: var(--color-fg);
  letter-spacing: 0.5px;
}

p {
  color: var(--color-fg-muted);
}
